/* container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

/* individual slider containers */
.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

/* sliders */
.slider-container input[type="range"] {
  width: 40px;
  height: 400px;
  margin: 5px;
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  appearance: slider-vertical;
  border-radius: 10px;
  background: #f3f3f3;
  outline: none;
  overflow: hidden;
  position: relative;
}

/* Custom Thumb */
.slider-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  height: 10px;
  z-index: 1;
}

/* Filling based on the value */
.slider-container input[type="range"]::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(var(--fillFactor, 0) * 1%);
  background: linear-gradient(to top, #7b00ff, #ff00a2);
  transform-origin: center bottom;
  z-index: 2;
}

/* Responsive styling */
@media (max-width: 768px) {
  .slider-container input[type="range"] {
      height: 150px;
  }
}

/* labels */
.slider-container label {
  font-weight: bold;
  margin-bottom: 10px;
}
