/* Genre Selection container */
.genre-selection-container {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    color: white; /* Text color */
  }

  /* buttons container */
  .genre-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  /*individual genre buttons */
  .genre-button {
    background-color: #424242; /* Dark grey background */
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .genre-button:hover {
    background-color: #7b00ff; /* Highlight color on hover */
  }

  /* selected genre button */
.genre-button.selected {
    background-color: #7b00ff; /* Highlight color for selected genre */
  }