/* Genre Selection container */
.genre-selection-container {
  position: absolute;
  left: 5%;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  color: transparent;
  font-size: 0;
}

/* buttons container */
.genre-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* individual genre buttons */
.MuiButton-root.genre-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 12px;
  background-color: #00ADB5;
  color: #EEEEEE;
  transition: transform 0.2s, background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiButton-root.genre-button:hover {
  background-color: #FF5722;
  transform: scale(1.1);
  border-color: transparent;
}

.MuiButton-containedPrimary.genre-button {
  background-color: #FF5722;
}

.MuiButton-containedPrimary {
  color: #EEEEEE;
}
