/* Play/Pause Button container */
.play-pause-container {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  margin: 20px;
}

/* Play/Pause Button */
.MuiButton-root.play-pause-button {
    background-color: #00ADB5;
    border: none;
    padding: 30px 120px; 
    color: #EEEEEE;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 120px;
    height: 60px;
}

.MuiButton-root.play-pause-button:hover {
    background-color: #FF5722;
}
