/* Play/Pause Button container */
.play-pause-container {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    margin: 20px;
    color: white;
  }

  /* Play/Pause Button */
  .play-pause-button {
    background-color: #424242;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .play-pause-button:hover {
    background-color: #7b00ff;
  }
