/* Model Complexity Slider container */
.model-complexity-container {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px;
}

/*  Model Complexity Slider */
.model-complexity-container input[type="range"] {
  width: 200px; /* Width of the slider */
  background: transparent; /* Transparent background to show black track */
  outline: none;
  cursor: pointer;
}

/* thumb */
.model-complexity-container input[type="range"]::-webkit-slider-thumb,
.model-complexity-container input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: black; /* Black thumb */
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

/* track */
.model-complexity-container input[type="range"]::-webkit-slider-runnable-track,
.model-complexity-container input[type="range"]::-moz-range-track {
  background: black; /* Black track */
  height: 5px;
  border-radius: 3px;
}

/* Discrete marks */
.model-complexity-container input[type="range"] {
  background: linear-gradient(90deg, black 50%, transparent 50%)
            0 / 33.333% 100% no-repeat black;
}
