/* Model Complexity Slider container */
.model-complexity-container {
  position: absolute;
  right: 0;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px;
}

/*  Model Complexity Slider */
.model-complexity-container input[type="range"] {
  position: relative;
  width: 200px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
}

/* Custom Track */
.model-complexity-container input[type="range"]::-webkit-slider-runnable-track {
  background: #EEEEEE;
  height: 5px;
  border-radius: 3px;
}

/* Custom Thumb */
.model-complexity-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  width: 0px;
  height: 5px;
}

/* Filling based on the value */
.model-complexity-container input[type="range"]::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: calc(var(--fillFactor, 0) * 1%);
  background: linear-gradient(to right, #00ADB5, #FF5722);
  transform-origin: left center;
}

.model-complexity-container label {
  color: #EEEEEE;
  font-size: 16px;
}